<h1>These are the current Audit Logs.</h1>
<br>
<table class="table">
  <thead>
    <tr> 
      <th>Number</th>   
      <th>Employee</th>
      <th>Starting Date:</th>
      <th>Confirmed At:</th>
      <th>Status</th>      
      

    </tr>
  </thead>
  <tbody id='audit_logs'>
  <%= render @audit_logs %>   
   
  </tbody>
  


</table>
 <div id='audit_paginator'>
    <%= paginate @audit_logs,:remote => true %>
  </div>













