<h1>These are the current Audit Logs.</h1>
<br>
<table class="table">
  <thead>
    <tr> 
      <th>Number</th>   
      <th>Employee</th>
      <th>Starting Date:</th>
      <th>Confirmed At:</th>
      <th>Status</th>      
      

    </tr>
  </thead>
  <tbody>
  <%= render @audit_logs %>   
   
  </tbody>
</table>













