<h1>Hello <%= current_user.full_name %></h1>
<br>

<div>
	<div class='row well'>
		<h3>Overtime Requests pending Your Approval</h3>
		<br>
			<%= render partial: 'pending_overtime_request',locals: {pending_approvals: @pending_approvals} %>    
	 </div>
	 <div class='row well'>
		 <h3>Pending Audit Logs </h3>
			<br>
			   <%= render partial: 'pending_audit_logs',locals: {pending_audit_logs: @audit_logs} %> 


	 </div>
	
</div>