
<% pending_audit_logs.each do |audit_log| %>
	<div class="col-lg-3 col-md-6">
	    <div class="panel panel-green">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-3">
	                    <i class="fa fa-file-o fa-2x"></i>
	                    <span><b><%= audit_log.user.full_name %></b> </span>
	                </div>
	                <div class="col-xs-9 text-right">
	                    <div>Week of: <%= audit_log.start_date.strftime('%x') %></div>
	                    <div><b><%= audit_log.status %></b></div>
	                </div>
	            </div>
	        </div>
	        
	            <div class="panel-footer">
	            <%= link_to "Visit Audit Log", audit_log_path(audit_log), class: 'btn btn-info btn-sm pull-left' %>
	           	           	                 			                   
	             <div class="clearfix"></div>
	            </div>
	        </a>
	        
	    </div>
	</div>	
<% end %>
<div class="col-lg-3 col-md-6">
	    <div class="panel panel-primary">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-3">
	                    <i class="fa fa-file-text fa-2x"></i>
	                    
	                </div>
	                <div class="col-xs-9 text-right">
	                    <p>Get more Info.</p>
	                </div>
	            </div>
	        </div>
	        
	            <div class="panel-footer">
	           <a class='btn btn-danger btn-block' href="/audit_logs">See all Audit logs.</a>
	           	           	                 			                   
	             <div class="clearfix"></div>
	            </div>
	        </a>
	        
	    </div>
	</div>	
