<h1>These are the current Posts.</h1>
<br>
<table class="table">
  <thead>
    <tr>
      
      <th>Post</th>
      <th>Date</th>
      <th>Name</th>      
      <th>Rationale</th>
      <th>Status</th>

    </tr>
  </thead>
  <tbody>
  <%= render @posts %>   
   
  </tbody>
</table>