<h1>These are the current Posts.</h1>
<br>
<table class="table">
  <thead>
    <tr>
      
      <th>Post</th>
      <th>Overtime request</th>
      <th>Date</th>
      <th>Name</th>      
      <th>Rationale</th>
      <th>Status</th>

    </tr>
  </thead>
  <tbody id='posts'>
  <%= render @posts %>   
   
  </tbody>
</table>
  <div id='paginator'>
    <%= paginate @posts,:remote => true %>
  </div>
